@import 'common/all';

body{
    font-family: $font;
    background-color: black;
    color: white;
    margin: 0px;
}

h1{
    display: inline-block;
    margin: 7px;
    padding: 5px;
}
#menu{
    padding: 0;
    
     li
     {display: inline;
    }
}

.generalcontent
{
   margin: 25px;
}

.d{
    width: 100%;
}

.c,.d {
    display: inline-block;
    text-align: center;
    
    h2
    {
        font-size: 36px;
    }
}

.feacont{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   }

