   
.browcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.bitems{
 margin: 10px;   
}   

.lefties{
    display: flex;
    flex-flow: row wrap;
    width: 470px;
}

.righties{
    display: flex;
    flex-flow: column wrap;
    width: 210px;
}

#shoes
{
  background: url(../img/shoes.jpg);
  display: flex;
  height: 250px;
  min-width: 150px;  
  max-width: 750px;
  width: 100%;
  &:hover
{  box-shadow: $sombri;
}
}

#jeans
{
  background: url(../img/jeans.jpeg);  
  display: flex;
  height: 360px;
  min-width: 150px;
  max-width: 210px;  
  width: 50%;
  &:hover
{  box-shadow: $sombri;
}
}

#shirts
{
  background: url(../img/shirts.jpg);  
  display: flex;
  height: 360px;
  min-width: 150px;
  max-width: 210px;  
  width: 50%;

  &:hover
{  box-shadow: $sombri;
}
}

#outfits
{
  background: url(../img/outfits.jpg);
  display: flex;
  height: 640px;
  min-width: 150px;
  max-width: 210px;  
  width: 50%;
  &:hover
{
  box-shadow: $sombri;
}
}