   
.browcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.bitems{
 margin: 10px;   
}   

.lefties{
    display: flex;
    flex-flow: row wrap;
    width: 470px;
}

.rightie{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
}

#shoes
{
  background: url(../img/shoes.jpg);
  background-size: 450px;
  background-position: center;
  display: flex;
  height: 250px;
  min-width: 150px;  
  max-width: 750px;
  width: 100%;
  &:hover
{  box-shadow: $sombri;
}
}

#jeans
{
  background: url(../img/jeans.jpeg);  
  background-size: 550px;
  background-position: center;
  display: flex;
  height: 360px;
  min-width: 150px;
  max-width: 210px;  
  width: 50%;
  &:hover
{  box-shadow: $sombri;
}
}

#shirts
{
  background: url(../img/shirts.jpg) no-repeat;  
  background-size: 550px;
  background-position: center;
  display: flex;
  height: 360px;
  min-width: 150px;
  max-width: 210px;  
  width: 50%;

  &:hover
{  box-shadow: $sombri;
}
}

#outfits
{
  background: url(../img/outfits.jpg) no-repeat;
  background-size: 370px;
  background-position: center;
  display: flex;
  height: 640px;
  min-width: 150px;
  max-width: 510px;  
  width: 90%;
  &:hover
{
  box-shadow: $sombri;
}
}

.textconten{

  display: inline-block;
  text-align: center; 
  width: 100%;
  padding: 15px;
}
.browsenames
{ 
  font-size: 32px;
  font-weight: 900;
}