.feaitem
{
 background-color: white;
 display: flex;
 flex-direction: column;
 height: 300px;
 width: 40%;
 overflow: hidden;
 color: $gris;
 font-weight: 395;
 font-size: 18px;
 position: relative;
}

.uno
{
    background: url("../img/001.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 40vh;   
}

.stars
{
  background: url("../img/stars.jpg")  no-repeat;
  background-size: cover;
  background-position: 0px -35px;
  height: 30px;
  width: 100px;
  position: absolute;
  bottom: 0px;
}

.nombreitem
{ position: absolute;
    left: 5px;
    bottom: 30px;
}

.precio
{
 position: absolute;
 right: 5px;
 bottom: 30px;
}