.feaitem
{
 background-color: white;
 display: flex;
 flex-direction: column;
 height: 300px;
 min-width: 250px;
 max-width: 300px;
  overflow: hidden;
 color: $gris;
 font-weight: 395;
 font-size: 18px;
 position: relative;
 margin: 20px;

 .uno
{
    background: url("../img/001.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.dos
{
    background: url("../img/002.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.tres
{
    background: url("../img/003.jpeg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.cuatro
{
    background: url("../img/004.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.cinco
{
    background: url("../img/005.jpeg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.seis
{
    background: url("../img/006.jpeg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 35vh;   
}
.stars
{
  background: url("../img/stars.jpg")  no-repeat;
  background-size: cover;
  background-position: 0px -35px;
  height: 30px;
  width: 100px;
  position: absolute;
  bottom: 0px;
}

.nombreitem
{ position: absolute;
    left: 5px;
    bottom: 40px;
}

.precio
{
 position: absolute;
 right: 5px;
 bottom: 40px;
}
}

