.feaitem
{
 background-color: white;
 display: flex;
 flex-direction: column;
 height: 300px;
 min-width: 250px;
 max-width: 400px;
 overflow: hidden;
 color: $gris;
 font-weight: 395;
 font-size: 18px;
 position: relative;
 margin: 20px;
 width: 50%; 

img {
  width: 100%;  
} 

.imgfcont{
  height: 220px;
  overflow: hidden;
}



.stars
{
  background: url("../img/stars.jpg")  no-repeat;
  background-size: cover;
  background-position: 0px -35px;
  height: 30px;
  width: 100px;
  position: absolute;
  bottom: 0px;
}

.nombreitem
{ position: absolute;
    left: 5px;
    bottom: 40px;
}

.precio
{
 position: absolute;
 right: 5px;
 bottom: 40px;
}
}

