.e{
    height: 600px;
    width: 100%;
    background-color: $otrogris;   
    padding: 10px;

  .titulofoot
  {
text-align: center;
  }  
}

.septimocuartodiv
{
    display: flex;
    flex-flow: column wrap;  
    width: 100%;
    height: 500px;

    .colum1{
   display: flex; 
    flex-direction: column;
    width: 110px;
    }
    
    .colum2{
       display: flex; 
       flex-direction: column;  
       width: 110px;
    }
  img {
      display: flex;
      height: 250px;
  }

  a{
      display: inline-block;
   text-decoration: none;
   color: cyan;
   &:hover
   {color: mediumblue;

}
  }
}   